body{
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
#cover, #cover2, #credits, #webGLneeded {
  background: white;
  font-family: 'Lora', serif;
  font-size: 20px;
  height: 100%;
  padding: 20px 60px;
  overflow: scroll;
}
#cover2 {
  position: absolute;
  z-index: 10;
  opacity: 1;
  left: 0;
  right: 0;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

@media only screen and (max-width: 768px) {
  #cover, #cover2, #credits, #webGLneeded {
    font-size: 16px;
  }
}

#beginBtn, #startBtn{
  background: black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-style: oblique;
  margin: 20px auto 50px;
  padding: 12px;
  text-align: center;
  width: 210px;
  font-style: italic;
}

#logoContainer {
  display: flex;                  /* establish flex container */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0;
}
#logoContainer > div {
  width: 200px;
  padding: 10px;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #29d;

  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #29d;
}

.pace.pace-inactive {
  display: none;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}